{% extends 'base.html'%} {% block title%}Edit Tag{%endblock%} {% block content
%}
<h1>Edit Tag</h1>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<h3>{{message}}</h3>
{% endfor %} {% endif %} {% endwith %}
<form action="/tags/{{tag.id}}/edit" method="POST" id="addTag">
  <label for="tag_name">Name</label>
  <input type="text" name="tag_name" />
  <div id="tag_submit_div">
    <input type="submit" value="Add Tag" id="post_submit" />
  </div>
</form>
<form action="/tags">
  <input type="submit" id="cancelTag" value="Cancel" />
</form>

{% endblock %}
